<a routerLink='/'>Go Back to </a>
<p>
  todo-list works!
</p>
<!-- <div style="position:relative;">
  <textarea id="textarea"></textarea>
</div> -->
<!-- <input type="text" [mention]="items" triggerChar="@"> -->

<img id="logoId" src='' alt='Image Uploading' style="width:200px;height:115px">
<input type="text" class="mFormInput" pInputText value="{{branch_logo?.name}}" readonly>
<div class="fileValidation" *ngIf="show_file_validation">
     {{branch_logo?.name}}
</div>
<div>
<br>
    <label class='cursor-pointer' id="photoLabel" for="fileId">Browse </label>
    <input type="file" id="fileId" (change)="fileChangeEvent($event)" style="display:none" />
</div>

<button (click)='onSubmitLogo()'>Upload Now</button>
<hr>
<!-- <hr>
<div [froalaEditor] [(froalaModel)]="editorContent">Hello, Froala!</div>
<div [froalaView]="editorContent"></div> -->

<textarea placeholder="Hello textarea" rows="10" cols="100" (keydown)='checkKeyCode($event)' 
[(ngModel)]='article'></textarea>
<p *ngFor='let country of countryList'>{{country.name}}</p>