.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px; 
    left: 0;
    color: #fff;
}

.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}
.fb{background-color: #4965B8}
.google{background-color: #DF6053}
.twitter{background-color: #27AAE2}

/*Styling custom*/
button:hover{
    opacity: 0.8;
}
.social-media-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.label-login{
    color: #ff8200;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 45px 0;
    background-color: #fff;
}
.label-signup{
    color: #333;
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin: 15px 0;
    background-color: #fff;
}
.signp{
    color: #ff8200;
    text-decoration: none;
}
.login-btn{
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    background-color: #ff8200;
    width: 500px;
    text-transform: uppercase;
    text-align: center;
}
.or-sep{
    margin: 30px auto;
    display: block;
    max-width: 100%;
}
.login-btn-social{
    width: 100%;
    margin: 5px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.btn-container{
    width: 100%;
    max-width: 100%;
    display: flex;
}