<div id="page-wrap">
	<img src="pardeep.jpg" alt="Photo of Pardeep" id="pic" />
	<div id="contact-info" class="vcard">
		<!-- Microformats! -->
		<h1 class="fn">Pardeep Jain</h1>
		<p>
			Cell: <span class="tel">+91-9599117223</span><br />
			Email: <a class="email" href="mailto:erpardeepjain@gmail.com">Erpardeepjain@gmail.com</a>
		</p>
	</div>

	<div id="objective">
		<p>
			I'm a web developer that enjoys working on mission driven technology. Currently I'm working primarily in Angular2 (Typescript) at Innotical Sol. Pvt. Ltd in Noida (India).<br><br>
			I am an outgoing and energetic (ask anybody) young professional, seeking a 
			career that fits my professional skills, personality, and murderous tendencies. 
			My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
			I can bring world domination to your organization. 
		</p>
	</div>

	<div class="clear"></div>

	<dl>
		<dd class="clear"></dd>

		<dt>Education</dt>
		<dd>
			<h2>Bachelor of Technology - Computers</h2>
			<p>
				Adesh Institute of  Engineering & Technology, Faridkot (Punjab),Affiliated to Punjab Technical University(PTU) with secured 80% marks.
			</p>
		</dd>

		<dd class="clear"></dd>

		<dt>Skills</dt>
		<dd>
			<h2>Languages  known</h2>
			<p>JavaScript, Typescript, Html, Css, Jquery.</p>
			<h2>Framework</h2>
			<p>Angular2, Bootstrap, AngularJs, PrimeNg, etc.</p>
		</dd>

		<dd class="clear"></dd>

		<dt>Experience</dt>
		<dd>
			<h2>Innotical Solution Pvt. Ltd.  <span>Team Leader/Developer - June 2015-2017</span></h2>
			<ul>
				<li>Responsive Web Designing.</li>
				<li>Web application developer</li>
				<li>Responsible for Consuming Rest API's Etc.</li>
			</ul>
		</dd>

		<dd class="clear"></dd>

		<dt>References</dt>
		<dd>Available on request</dd>

		<dd class="clear"></dd>
	</dl>

	<div class="clear"></div>

</div>


<ul class="timeline">    
	<li class="timeline-inverted">
		<div class="timeline-badge">
			<a><i class="fa fa-circle invert" id=""></i></a>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4><a href='http://stackoverflow.com/users/5043867/pardeep-jain'>Stackoverflow Top Developer</a></h4>
			</div>
			<div class="timeline-body">
				<p>I am ranked 8th in the world in problem solving of Angular2 at stackoverflow (~14k Reputation).</p>
			</div>
			<div class="timeline-footer">
				<p class="text-right">2015-2017</p>
			</div>
		</div>
	</li>

	<li>
		<div class="timeline-badge">
			<a><i class="fa fa-circle" id=""></i></a>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4><a href='https://www.quora.com/profile/Pardeep-Jain-14'>Top Writer of Angular2.</a></h4>
			</div>
			<div class="timeline-body">
				<p>Selected by Quora as a Top Writer based on strength of answers about Angular2.</p>
			</div>
			<div class="timeline-footer">
				<p class="text-right">Jan-2017 - Present</p>
			</div>
		</div>
	</li>

	<li  class="timeline-inverted">
		<div class="timeline-badge">
			<a><i class="fa fa-circle invert" id=""></i></a>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4><a href='github.com/MrPardeep'>Github</a></h4>
			</div>
			<div class="timeline-body">
				<p>Open source repository on Github with 10+ Star’s.</p>
			</div>
			<div class="timeline-footer primary">
				<p class="text-right">2016</p>
			</div>
		</div>
	</li>
	<li class="clearfix no-float"></li>
</ul>

<p class="footer">Copyright &copy; <a href="https://www.facebook.com/pardeep.jain.9404">Pardeep Jain</a>.<br />
	Created by <a href="http://stackoverflow.com/users/5043867/pardeep-jain">Angular2 Developer</a>
</p>
<!-- https://css-tricks.com/one-page-resume-site/ -->